node_modules/
.turbo/
.next/
out/
build/
dist/
artifacts/
cache/
*.tsbuildinfo
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log
.DS_Store
*.local
node_modules
